/* sub.css */ 
* { padding: 0; margin: 0; font-family: 'square_r';}
ul { list-style-type: none;}
a {text-decoration: none; color: black;}

@font-face {
    font-family: 'square_r';
    src: url('../font/NanumSquare_acR.ttf');
}

@font-face {
    font-family: 'square_b';
    src: url('../font/NanumSquare_acB.ttf');
}

@font-face {
    font-family: 'square_eb';
    src: url('../font/NanumSquare_acEB.ttf');
}

@font-face {
    font-family: 'square_l';
    src: url('../font/NanumSquare_acL.ttf');
}

@font-face {
    font-family: 'gmarket_m';
    src: url('../font/GmarketSansTTFMedium.ttf');
}

@font-face {
    font-family: 'gmarket_l';
    src: url('../font/GmarketSansTTFLight.ttf');
}


body {
    overflow-x: hidden;
}

.main_wrap {
    width: 100%;
    position: relative;
}

.main_wrap2 {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}



/* 헤더 */
/* 헤더 전체 */
#top { /* changed */
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 100px;
}



#top .logo { /* changed */
	position: absolute;
	left: 0;
	top: 25px;
	z-index: 10000;
}
#top .logo a { /* changed */
	display: block;
	padding: 0 30px;
	line-height: 62px;
}
#top nav {
	position: absolute;
	left: -50%; /* changed */
	top: 0;
	z-index: 9999;
	width: 200%; /* changed */
	font-size: 0.875em;
	background-color: #fff;
}
#top nav > .depth1 {
	position: relative;
	text-align: center;
	height: 100px;
	overflow: hidden;
	transition: height 0.4s;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    font-size: 16px;
}
#top nav > .depth1::after {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
}
#top nav > .depth1:hover {
	height: 270px;
}
#top nav > .depth1:hover::after {
	display: block;
}
#top nav > .depth1 > li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
#top nav > .depth1 > li > a {
	display: block;
	padding: 0 30px;
	line-height: 108px;
	text-align: center;
	background-color: #fff;
	transition: background-color 0.3s;
}
#top > nav > .depth1 > .sub a {
	display: block;
	line-height: 40px;
	background-color: #fff;
}
/* #top nav > .depth1 > li:hover > a {
	background-color: #f4f4f48e;
} */

.sub > li:first-child {
    padding-top: 24px;
}

.sub > li {
    padding-top: 15px;
    /* outline: 1px solid red; */
    font-size: 13px;
}

.sub {
    padding-bottom: 50px;
    /* outline: 1px solid red; */
}

/* nav 악센트 */
.accent {
    width: 120px; height: 4px;
	background-color: #B5A189;
    position: absolute;
    top: 72px;
    left: 400px;
    display: none;
    transition-duration: 0.4s;
}



/* sub1_1 Brand Story */
/* title */
#sub_title {
    width: 100%; height: 400px; 
    margin: 0 auto;
    /* background-color: red; */
    background-image: url('../img/sub1.png');
    box-sizing: border-box;
    background-size: cover;
    color: white;
    text-align: center;
}

#sub_title > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 46px;
    padding-top: 140px;
}

#sub_title > h2 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 35px;
}

#sub_title > h2 > span {
    font-weight: bold;
}

/* nav */
#sub_nav {
    width: 100%; height: 58px; margin: 0 auto;
    border-bottom: 1px solid #b6b6b6;
    /* text-align: center; */
    position: relative;
}
#sub_nav > .content {
    position: absolute;
    width: 100%; height: 58px;
    
}

#sub_nav > ul {
    /* outline: 1PX solid red; */
    position: absolute;
    left: calc(100%/2.23);
    top: 20px;
}

#sub_nav > ul > li {
    float: left;
    margin-right: 60px;
    /* padding-bottom: 15px;
    border-bottom: 4px solid red; */
}

#sub_nav > ul > li:last-child {
    margin-right: 0px;
}

#sub_nav > ul > li > a {
    font-size: 15px;
}



/* 컨텐츠 */
#sub1_1content {
    width: 1200px; margin: 0 auto;
    margin-bottom: 100px;
    /* outline: 1px solid red; */
}

#sub1_1content > .title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

#sub1_1content > .title > h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}

#sub1_1content > .title > h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-top: 20px;
}


/* t1 */
.t1 {
    /* outline: 1px solid red; */
    position: relative;
}

.t1 > div {
    width: 520px; height: 250px;
    display: inline-block;
    padding-left: 30px;
    position: absolute;
}

.t1 > div > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.t1 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 16px;
    line-height: 24px;
}

.t1 > div > h3{
    /* outline: 1px solid; */
    margin-top: 100px;
    margin-left: 210px;
}

.t1 > div > h1 > span {
    color: #B5A189;
}



/* t2 */
.t2 { 
    position: relative;
    margin-top: 80px;
}
.t2 > div {
    /* outline: 1px solid red; */
    width: 520px; height: 380px;
    display: inline-block;
    padding-top: 20px;
}

.t2 > div > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.t2 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 16px;
    line-height: 24px;
}

.t2 > div > button {
    background-color: rgba(102, 51, 153, 0);
    border: 1px solid #000;
    margin-top: 100px;

}

.t2 > img {
    display: inline-block;
    position: absolute;
    right: 0;
}

.t2 > div > h1 > span {
    color: #B5A189;
}



/* t3 */
.t3 {
    /* outline: 1px solid red; */
    position: relative;
    margin-top: 80px;
}

.t3 > div {
    width: 520px; height: 250px;
    display: inline-block;
    padding-left: 30px;
    position: absolute;
}

.t3 > div > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.t3 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 16px;
    line-height: 24px;
}

.t3 > div > button {
    background-color: rgba(102, 51, 153, 0);
    border: 1px solid #000;
    margin-top: 100px;
    position: absolute;
    right: 0;
}

.t3 > div > h1 > span {
    color: #B5A189;
}


/* 버튼 hover */
#sub1_1content > .text > div > div > button:hover{
    background-color: #1F1B18;
    color: white;
}




/* 푸터 */
/* #footer {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: #1F1B18; height: 300px;
    color: rgb(150, 145, 145);
    font-size: 12px;
} */
#footer {
    position: relative;
    text-align: center;
    /* overflow: hidden; */
    background: #1F1B18;
    background-size: cover;
    width: 100%; height: 300px;
    color: rgb(150, 145, 145);
    font-size: 12px;
}
.footer_container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-size: 12px;
}


.footer_menu > li {
    display: inline-block;
    margin-right: 80px;
}


.footer_menu > li > a {
    color: rgb(150, 145, 145);
    font-size: 13px;
}

.sns {
    position: absolute;
    right: 0;
    top: 17px;
}

.sns > li {
    display: inline-block;
}

.sns > li > a > img {
    width: 20px;
    margin-left: 4px;
    
}



.footer_line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}


.footer_container2 {
    width: 1200px; margin: 0 auto;
    /* outline: 1px solid red; */
    text-align: center;
}

.footer_logo {
    width: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer_text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 12px;
}


.copy {
    padding-bottom: 30px;
}